<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kami.lepau">

    <application
        android:allowBackup="true"
        android:icon="@drawable/lepau_plate_transparent"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lepau_plate_transparent"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoTitleBar">
        <activity android:name=".AuthenticationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuActivity" />
        <activity android:name=".ShoppingCartActivity" />
        <activity
            android:name=".SpecialOrderActivity"
            android:label="@string/title_activity_special_order"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".FindingLocationActivity" />
        <activity
            android:name=".TrackOrderActivity"
            android:label="@string/title_activity_track_order"
            android:theme="@style/AppThemeNoTitleBar" />
        <activity android:name=".OrderHistoryActivity"></activity>
    </application>

</manifest>